name: Deploy to VPS

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ${{ secrets.APP_DIR }}
            git pull origin production
            yarn install --frozen-lockfile
            yarn build
            pm2 reload class-manage-client --update-env || pm2 start "yarn start" --name class-manage-client
            pm2 save